.cardLista{
    padding: 15px;
    margin: 15px 10px 15px 5px;
    border-radius:10px ;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;

    box-shadow: 1px 3px #999;
}

.pesqCliente{
    display: flex;
    align-items: baseline;
}

.btnNovo{
    width: 150px;
}

.btnAcoes{
    cursor: pointer;
    margin: 5px;
}

.btnCanc{
    margin-left: 10px;
}